
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './components/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// ======== Components ========
// Sidebar
@import './components/sidebar';

// Card
@import './components/card';

// ======== Helpers ========
@import './components/helpers';

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;

    .content {
        width: 100%;
    }
}
