
.page-header {
    .page-header--breadcrumb {
        background-color: transparent;
        padding: 0;
    }
    .page-header--headline {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 1rem;

        .page-header--title {
            font-size: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .page-header--subtitle {
                display: block;
                font-size: .8rem;
                text-transform: capitalize;
                font-style: italic;
                color: var(--gray);
            }
        }
    }
}
